body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.botao {
  text-decoration: none;
  margin: 10px auto;
  background-color: transparent;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  padding: 30px 50px;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  display: inline-block;
}

.botao:hover {
  background-color: red;
  color: white;
}

.menu{
  display: block;
  display: inline-block;
}

.top-left-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #faf6f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.leaderboard-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ff0000;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ff0000;
}