/* ITW 2023/24 nº30 Dinis Garcia nº62269 Gonçalo Seguro nº62252 Ricardo Avelãs nº62257, TP26 */
html, body {
    font-family:inherit;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/Media/fundoAboutUs.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    overflow-x: hidden; 
}

h1 {
    text-align: center;
    color: black;
}

.grid-AboutUs {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-areas: 
    "Img" "Info"
    "Img" "Info"
    "Img" "Info";
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

#Img {
    background-image: url("/Media/nos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    width: 100%;
    height: 100vh;


}

#Info {
    grid-area: Info; 
    color:lightseagreen
}


.top-left-button {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #00eaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 599px) {
    .grid-AboutUs {
        grid-template-columns: 1fr; 
        grid-template-areas: 
        'image' 'info'; 
    }

    #Img {
        justify-self: center; 
    }
}
