

/* O botao da primeira pagina, */
.entrybutton {
    display: block;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    border: rgba(146, 222, 243, 0.719);
    background-color: transparent;
    padding: 10px 30px;
    font-size: 24rm;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
.entrybutton:hover {
    background-color: rgb(20, 168, 179);
    color: white;
  }
  .dropdown {
    position: relative;
}
/*=============================*/
/*Butoes da segunda pagina.*/

.ndButton {
    margin: 10px auto;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 70, 248);
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ndButton:hover {
    background-color: rgb(98, 176, 228);
    color: white;
}


#button1 {
    padding-left: 20px;
    padding-right: 20px;
}


#button2 {
    padding-left: 28px;
    padding-right: 28px;
}

#button3 {
    padding-left: 53px;
    padding-right: 53px;
}

#button4 {
    padding-left: 20px;
    padding-right: 20px;
}
/*=============================*/
/*Butoes para a pagina informacoes.*/
#buttonUS {
    padding-left: 110px;
    padding-right: 110px;
}
#buttonIF{
    padding-left: 10px;
    padding-right: 10px;
}

#buttonLog{
    padding-left: 10px;
    padding-right: 10px;
} 

/*=============================*/
/* Butões selectivos */

.dropdown {
    position: relative;
  }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


#TempoBTN{
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}

#TabuleiroBTN{
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}


/*=============================*/
.shinybutton {

    color: crimson;
    padding: 20px;
    text-decoration: blink;
    display: ruby;   


}
 
/*=============================*/


/* caixa de login */
 
.login-container {
    background-color: aqua;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px; 
}

.login-container h2 {
    margin-top: 10px; 
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

/*=============================*/
/* botão de acabar o jogo */

.over-button {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.red-button:hover {
    background-color: #c0392b;
}

