/* ITW 2023/24 nº30 Dinis Garcia nº62269 Gonçalo Seguro nº62252 Ricardo Avelãs nº62257, TP26 */

/* @import url("/Media/webfontkit-20240419-143343/stylesheet.css"); */



@font-face {
    font-family: "pokemon_solidnormal";
    src: url(Pokemon\ Solid.ttf) format("truetype");
}
html{
    font-family: "pokemon_solidnormal", sans-serif ;
    src: url('caminho/para/pokemon_solidnormal.woff2') format('woff2'), 
         url('caminho/para/pokemon_solidnormal.woff') format('woff'); 
    background-image: url(/Media/ImagemdeFundo.jpg);
    height: auto;
    width: auto;
    background-position: center;
    background-size: 150%;
}
a{
    text-decoration: none;
}

/* Botao de voltar */

.top-left-button {
    font-family: inherit;
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #cecb15;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* Botao de som */

.top-right-button {
    font-family: inherit;
    text-decoration: none;
    position: fixed;
    top: 20px;
    right: 20px; 
    padding: 10px 20px;
    background-color: #cecb15;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
/*=============================*/

@media screen and (max-width: 599px) {
    
    .top-left-button {
    font-family: inherit;
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    }

}