@import url("/Media/webfontkit-20240419-143343/stylesheet.css");
html{
    font-family: "pokemon_solidnormal", sans-serif ;
    background-image: url(/Media/ImagemdeFundo.jpg);
    height: auto;
    width: auto;
    background-position: center;
    background-size: 150%;
}
a{
    text-decoration: none;
}

/* Botao de voltar */

.top-left-button {
    font-family: inherit;
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #cecb15;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
 
/*=============================*/