/* ITW 2023/24 nº30 Dinis Garcia nº62269 Gonçalo Seguro nº62252 Ricardo Avelãs nº62257, TP26 */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /*Ficar atras do text*/ 
}

#video-customize {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 
    -1px -1px 0 #000000,  
     5px -1px 0 #000000,
    -1px  1px 0 #000000,
     5px  1px 0 #000000;
}

.content {
    font-size: 2rem; 
    margin-bottom: 20px; 
}

.entrybutton {
    display: inline-block;
    background-color: rgba(218, 166, 26, 0.5); 
    padding: 15px 30px; 
    border-radius: 5px;
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    transition: background-color 0.3s ease;
}

.entrybutton:hover {
    background-image: url(/Media/Entry.gif);
    background-position: center;
    background-size: 140%;
}