/* ITW 2023/24 nº30 Dinis Garcia nº62269 Gonçalo Seguro nº62252 Ricardo Avelãs nº62257, TP26 */
.jogo{
    display: grid;
    grid-template-columns: 11% 78% 11%;
    grid-template-rows: 20% 55% 25%;
    grid-template-areas: 
    "Header Header Header"
    "Opcoes Jogo Pontos"
    "Start Start Start"
    ;
    overflow: auto;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

h2{
    color: #e4e714;
    text-shadow: 
        -1px -1px 0 #000000,  
         5px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;


}
header{
    grid-area: Header;
    padding-bottom: 40px;
    text-shadow: 
        -1px -1px 0 #000000,  
         5px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    color: white;
    font-size: 25px;
}

#Opcoes{
    grid-area: Opcoes;
}
#Pontos{
    grid-area: Pontos;

}
#Start{
    grid-area: Start;
}

#Jogo{
    grid-area: Jogo;
}
/*Markers de lado*/

.vertical-box{ 
    background-color: rgba(255, 225, 0, 0.5);
    color: black;
    font-size: 20px;
    height: 700px;
    border-radius: 10px;
    background-position: 70% 30%;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    color: white;
    border: 10px solid transparent;
    border-image: url("/Media/Frame.png") 75 round;
}

.multiple-choice-buttons input[type="radio"] {
    appearance: none; 
    -webkit-appearance: none; /*retira o daefaut input para customizaçao pessoal */
    -moz-appearance: none;  /*retira o daefaut input para customizaçao pessoal */
    width: 25px; 
    height: 25px; 
    border-radius: 50px;
    cursor: pointer; 
    background-image: url(/Media/Unchecked.png); /*quando está unchecked */
    background-position: center;
    background-size: 100%
}

.multiple-choice-buttons input[type="radio"]:checked { /*quando está checked */
    background-image: url(/Media/Checked.png);
}

.multiple-choice-buttons label {
    display: inline-block;
    width: 100px; 
    cursor: pointer;
}

.Aplicar{
    margin: 10px auto;
    color: #ceab43;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    font-family: inherit;

}

.Aplicar:hover{
    background-image: url(/Media/Aplicar.gif);
    background-position: center;
    background-size: 150%;
}
/* Terminar o Jogo Manualmente */
.Terminar{
    margin: 10px auto;
    color: #d41f1f;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    font-family: inherit;

}

.Terminar:hover{
    background-image: url(/Media/Terminar.gif);
    background-position: center;
    background-size: 150%;
}
.Terminar h2{
    color: rgb(214, 48, 48);
}

/* Comecar o Jogo*/
.Comecar{
    margin: 10px auto;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    font-family: inherit;

}

.Comecar:hover{
    background-image: url(/Media/Start.gif);
    background-position: center;
    background-size: 150%;
}


/*Grid do Jogo */
.board{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100%;
    max-width: 800px;
    gap: 10px;
    margin:0 auto;
    background-color: rgba(255, 225, 0, 0.5);
    padding: 5px;
    border: 10px solid transparent;
    border-image: url("/Media/Frame.png") 75 round;
    }

    .cartinha{
    width: 100%;
    position: relative;
    height: auto;   

    }

    .face{
        width: 100%;
        height: 100%;
        position: relative;

        color: #ffffff;
        text-align: 20px;
        text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    }

    .number{
        position: absolute;
        left: 15px; 
        top: 50%;
        transform: translateY(-50%);
    }
    
    .front{
        
        background-image: url(../Media/backcard.jpeg);
        background-size: cover;
        background-position: center;
        
    }

  

/* Laptops pequenos  */
@media screen and (min-width: 992px){
    .jogo{
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto auto auto;
        overflow: auto;
        margin-left: 50px;
        margin-right: 50px;
        grid-row-gap: 0px;
    }
    header{
        padding-bottom: 0px;
        text-align: center;
        display: inline-block;
    }
    
    .board{
        width: 40%;
        max-width: 50%;
        margin:0px auto;
        padding: 5px;
        }

    .cartinha{
        width: 100%;
        height: 80px; 
    }
    .vertical-box{ 
    font-size: 10px;
    height: 390px;
    width: 90%;
    border: 5px solid transparent;
    border-image: url("/Media/Frame.png") 75 round;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
    .multiple-choice-buttons input[type="radio"] {
        width: 12px; 
        height: 12px; 
        border-radius: 20px;
        display: inline-block;
    }
    .Aplicar h2{
        font-size: 14px;

    }
    .Terminar h2{
        font-size: 14px
    }
    .Comecar h1{
        font-size: 20px;
    }
    .multiple-choice-buttons label {
        width: 90px; 
    }
    .number{
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
    }    
}

/*telemoveis*/

@media screen and (max-width: 599px){
    .jogo{
        grid-template-columns: 80% 20%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        
        "Header Header"
        "Jogo Pontos"
        "Start Pontos"
        "Opcoes Opcoes"
        
        ;
        overflow: auto;
        margin-left: 0px;
        margin-right: 0px;
        grid-row-gap: 0px;
    }
    header{
        padding-bottom: 0px;
        text-align: center;
        display: inline-block;
    }
    
    .board{
        width: 100%;
        max-width: 50%;
        margin:0px auto;
        padding: 0px;
        gap: 2px;
        }

    .cartinha{
        width: 100%;
        height: 50px; 
    }
    .vertical-box{ 
    font-size: 10px;
    height: 400px;
    width: 100%;
    border: 5px solid transparent;
    border-image: url("/Media/Frame.png") 75 round;
    text-align: center;
    }

    #Opcoes.vertical-box{
        height: 250px;
    }
   

    
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
    .multiple-choice-buttons input[type="radio"] {
        width: 15px; 
        height: 15px; 
        border-radius: 20px;
        display: inline-block;
    }
    .Aplicar h2{
        font-size: 14px;

    }
    .Terminar h2{
        font-size: 14px
    }
    .Comecar h1{
        font-size: 20px;
    }
    .multiple-choice-buttons label {
        width: 90px; 
    }     

#Voltar{
    font-size: 1rem;
    padding: 4px;
}
    .number{
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }    
}












