.jogo{
    display: grid;
    grid-template-columns: 15% 64% 15%;
    grid-template-rows: 20% 55% 25%;
    grid-template-areas: 
    "Header Header Header"
    "Opcoes Jogo Pontos"
    "Start Start Start";
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 100vh;
    box-sizing: border-box;
}

header{
    grid-area: Header;
    padding-bottom: 2vh;
    text-shadow: 
        -1px -1px 0 #000000,  
         5px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    color: white;
    font-size: 2vw;
}

#Pontos{
    grid-area: Pontos;
}

#Start{
    grid-area: Start;
}

#Jogo{
    grid-area: Jogo;
}

/*Markers de lado*/

.vertical-box{ 
    background-color: rgba(255, 225, 0, 0.5);
    color: black;
    font-size: 1vw;
    height: auto;
    border-radius: 10px;
    background-position: 60% 40%;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    color: white;
    border: 10px solid transparent;
    border-image: url(/Media/Frame.png) 75 round;
}

.multiple-choice-buttons input[type="radio"] {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;  
    width: 2vw; 
    height: 2vw; 
    border-radius: 50%;
    cursor: pointer; 
    background-image: url(/Media/Unchecked.png); 
    background-position: center;
    background-size: 100%;
}

.multiple-choice-buttons input[type="radio"]:checked { 
    background-image: url(/Media/Checked.png);
}

.multiple-choice-buttons label {
    display: inline-block;
    width: 8vw; 
    cursor: pointer;
}

.Aplicar, .Terminar, .Comecar{
    margin: 1vh auto;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border-radius: 2vw;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    font-family: inherit;
    font-size: 1vw;
    padding: 0.5vw 1vw;
}

.Aplicar:hover{
    background-image: url(/Media/Aplicar.gif);
    background-position: center;
    background-size: 150%;
}

.Terminar:hover{
    background-image: url(/Media/Terminar.gif);
    background-position: center;
    background-size: 150%;
}

.Comecar:hover{
    background-image: url(/Media/Start.gif);
    background-position: center;
    background-size: 150%;
}

/*Grid do Jogo */
.board{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100%;
    max-width: 65%;
    gap: 1vw;
    margin: 3vh auto;
    background-color: rgba(255, 225, 0, 0.5);
   
}

.cartinha{
    width: 80%;
    height: 100px; 
    position: relative;

    }

    .face{
        width: auto;
        height: auto;
        position: relative;

        color: #ffffff;
        text-align: 20px;
        text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    }

    .number{
        position: absolute;
        left: 15px; 
        top: 50%;
        transform: translateY(-50%);
    }
    
    .front{
        
        background-image: url(../Media/backcard.jpeg);
        background-size: cover;
        background-position: center;
        
    }

@media only screen and (max-width: 599px) {
    .jogo{
        grid-template-columns: 5% 90% 5%;
    }

    header {
        font-size: 4vw;
    }

    .vertical-box {
        font-size: 3vw;
        border-width: 5px;
    }

    .multiple-choice-buttons input[type="radio"] {
        width: 5vw;
        height: 5vw;
    }

    .multiple-choice-buttons label {
        width: 30vw;
    }

    .Aplicar, .Terminar, .Comecar {
        font-size: 3vw;
        padding: 1vw 2vw;
    }

    .board {
        width: 90%;
        max-width: none;
        margin: 5vw auto;
    }

    .cartinha {
        width: 60%;
        height: 20vw;
    }

    .face {
        text-align: 4vw;
    }

    .number {
        left: 3vw;
    }
}