/* ITW 2023/24 nº30 Dinis Garcia nº62269 Gonçalo Seguro nº62252 Ricardo Avelãs nº62257, TP26 */
/*================================================================*/
    /* leaderboard */
    /* leaderboard */
    h1{
        text-align: center;
    }


   
body{
    text-align: center;
    background-size: auto;

}

h2{
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}
h1{
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    font-size: 3rem;
}

/*Grid */
.login{
    display: grid;
    grid-template-columns: 40% 20% 40;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "Header Header Header"
    "Left Caixa Right" 
    "Left Caixa Right"
    "Left Caixa Right"
    "Footer Footer Footer"
    ;
    overflow: auto;
    text-align: center;
    position: relative;
    align-items: center;
    top: 57px;
    margin: 40px;
}

#Right{
    grid-area: Right;
    background-image: url(/Media/Grund.png);


}


#Left{
    background-image: url("/Media/Blastoise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 10%;
    left: 0;
    width: 25%;
    height: 100vh;
    background-color: aqua;
    border-image: url("/Media/Frame.png") 75 round;
    border-style: solid;
    border-width: 10px;
}

#Caixa{
    grid-area: Caixa;
}

#Imagem{
    grid-area: Imagem;
}

header{
    grid-area: Header;
}

footer{
    grid-area: Footer;
}

header{
    grid-area: Header;
}
/* Bookmarks */
.vertical-bookmark { 
    background-color: aqua;
    color: white;
    font-size: 20px;
    height: 800px;
    border-radius: 10px;
    border-image: url("/Media/Frame.png") 75 round;
    border-style: solid;
    border-width: 10px;
}
/*caixa login*/
.login-container {
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0,);
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; /
 
}

.login-container h2 {
    margin-top: 10px; 
}

.login-container table {
    display: block; 
    margin-top: 20px; 
}

/*Login*/
.footer-display {
    font-size: 1rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}
.footer-display a {
    color: rgb(33, 32, 141);
    text-shadow: none

}





/* tabela_leaderboard */

.content-leaderboard {
    background-color: #0075BE ; 
    color: white; 
    border: 1px solid #FFCC00; 
    margin-top: 0;
    text-shadow: 
    -1px -1px 0 #000000,  
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
}

.content-leaderboard th,
.content-leaderboard td {
    padding: 20px; 
    border: 4px solid #FFCC00; 
}


/* botão para pessoal */

.top-right-button {
    font-family: inherit;
    text-decoration: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #cecb15;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}









@media screen and (max-width: 599px) {
    
    .login {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "Header"
            "Imagem"
            "Caixa"
            "Left"
            "Right"
            "Footer";
        grid-gap: 10px;
    }


    .login > * {
        margin: 0;
        padding: 0;
    }

  
    #Caixa {
        margin-top: 0;
    }
}


