body {
    text-align: center;
    background-size: auto;
}

h2 {
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
}

h1 {
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    font-size: 3rem;
}

/* Grid */
.login {
    display: grid;
    grid-template-columns: 40% 20% 40;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "Header Header Header"
    "Left Caixa Right" 
    "Left Caixa Right"
    "Left Caixa Right"
    "Footer Footer Footer";
    overflow: auto;
    text-align: center;
    position: relative;
    align-items: center;
    top: 57px;
    margin: 40px;
}

#Right {
    background-image: url(/Media/white.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 10%;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: aqua;
    border-image: url("/Media/Frame.png") 75 round;
    border-style: solid;
    border-width: 10px;
}

#Left {
    background-image: url(/Media/black\ kyurem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 10%;
    left: 0;
    width: 25%;
    height: 100vh;
    background-color: aqua;
    border-image: url("/Media/Frame.png") 75 round;
    border-style: solid;
    border-width: 10px;
}

#Caixa {
    grid-area: Caixa;
}

#Imagem {
    grid-area: Imagem;
}

header {
    grid-area: Header;
}

footer {
    grid-area: Footer;
}

.bookmarks {
    display: flex; 
    align-items: center; 
}

.left-bookmark {
    background-image: url("/Media/Blastoise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 100px; 
    left: 0;
    width: 20%;
    height: calc(100vh - 100px); 
    background-color: aqua;
    border-image: url("/Media/Frame.png") 75 round;
    border-style: solid;
    border-width: 5px;
}

.right-bookmark {
    background-image: url("/Media/Charizard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 100px; 
    right: 0;
    width: 20%;
    height: calc(100vh - 100px); 
    background-color: red;
    border-image: url("/Media/Frame.png") 75 round;
    border-style: solid;
    border-width: 5px;
}

.login-container h2 {
    margin-top: 10px; 
}

.login-container table {
    display: block; 
    margin-top: 20px; 
}

/* Footer */
.footer-display {
    font-size: 1rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
}

.footer-display a {
    color: rgb(33, 32, 141);
    text-shadow: none;
}

/* Styles for leaderboard */
.content-leaderboard, .content-player-stats {
    width: 60%;
    margin: 20px auto;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: transparent;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.player-stats-button, .back-to-leaderboard-button {
    background-color: #cecb15;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}




.difficulty-button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 5px;
}


.difficulty-table {
    display: none;
}

.difficulty-table.active {
    display: table;
}


@media screen and (max-width: 599px) {
    .login {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "Header"
            "Imagem"
            "Caixa"
            "Left"
            "Right"
            "Footer";
        grid-gap: 10px;
    }
    .vertical-bookmark {
        display: none;
    }
}
