body{
    text-align: center;
    background-size: auto;

}

h2{
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}


/*Grid */
.login{
    display: grid;
    grid-template-columns: 40% 20% 40;
    grid-template-rows:  auto auto auto auto auto;
    grid-template-areas:
    "Left Imagem Right" 
    "Left Caixa Right"
    "Left Caixa Right"
    "Left Caixa Right"
    "Footer Footer Footer"
    ;
    overflow: auto;
    text-align: center;
    position: relative;
    align-items: center;
    top: 57px;
    margin: 40px;
}

#Right{
    grid-area: Right;
    background-image: url(/Media/Grund.png);


}


#Left{
    grid-area: Left;
    background-image: url(/Media/Kyogre1.jpg);

}

#Caixa{
    grid-area: Caixa;
}

#Imagem{
    grid-area: Imagem;
}

header{
    grid-area: Header;
}

footer{
    grid-area: Footer;
}

/* Bookmarks */
.vertical-bookmark { 
    background-color: aqua;
    color: white;
    font-size: 20px;
    height: 800px;
    border-radius: 10px;
    background-position: 70% 30%;
    border-image: url("/Media/Frame.png") 75 round;
    border-style: solid;
    border-width: 10px;
}
/*caixa login*/
.login-container {
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0,);
 
}

.login-container h2 {
    margin-top: 10px; 
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container select {
    width: 50%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container button {
    width: 50%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #45a049;
}
/*Login*/
.footer-display {
    font-size: 1rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}
.footer-display a {
    color: rgb(33, 32, 141);
    text-shadow: none

}

/* Botao de voltar */

.top-left-button {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: aqua;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 