/* ITW 2023/24 nº30 Dinis Garcia nº62269 Gonçalo Seguro nº62252 Ricardo Avelãs nº62257, TP26 */
body{
    text-align: center;
    background-size: auto;
    position: relative;

}

/* Posicionamento naa pagina menu*/
.menu{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "Header Header Header"
    "Tutorial SinglePlayer Termos"
    "Tutorial MultiPlayer Termos"
    "Tutorial Tabelas  Termos"
    "Footer Footer Footer"
    ;
    overflow: auto;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
}

header{
    grid-area: Header;
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}

#SinglePlayer{
    grid-area: SinglePlayer;

}

#MultiPlayer{
    grid-area: MultiPlayer;

}

#Tabelas{
    grid-area: Tabelas;
}


#Tutorial{
    grid-area: Tutorial;
    }

#Termos{
    grid-area: Termos;
    position: relative;
}
footer{
    grid-area: Footer;

}
/* Termos e Condicoes */
iframe{
    height: 500px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.6);
    width: auto;
    border-width: 7px;
    border-style: solid;
    border-image: url("/Media/Frame.png") 75 repeat; 
    overflow: hidden; /*faz com que o background não se repita */

}
/* Como jogar */
.tutorial{
    width: 350px;
    height: 270px;

}

.tutorial-frame{
    width: auto;
    border-width: 15px;
    border-style: solid;
    border-image: url("/Media/Frame.png") 75 repeat; 
    overflow: hidden;
}
/* Footer */
.footer-display {
    font-size: 1rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    margin-bottom: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: none; 
    text-align: center; 
    padding: 20px 0; 
}

.footer-display a {
    color: rgb(33, 32, 141);
    text-shadow: none;
}



/* links*/
.ndButton {
    margin: 10px auto;
    color: #ceab43;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}

.ndButton:hover {
    background-color: rgb(0, 0, 0, 0.1);
    color: #ceab43;
}


#button1 {
    padding-left: 20px;
    padding-right: 20px;
}

#button1:hover{
    background-image: url(/Media/Deoxys.gif);
    background-position: left;
}


#button2 {
    padding-left: 27px;
    padding-right: 27px;
}

#button2:hover{
    background-image: url(/Media/Flareon.gif);
    background-position: left;
}

#button3 {
    padding-left: 70px;
    padding-right: 70px;
}

#button3:hover{
    background-image: url(/Media/Rayquaxa.gif);
    background-position: center;
}

/* Laptop*/
@media screen and (min-width: 600px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 2rem;
    }

    .tutorial{
        width: 300px;
        height: 200px;
    
    }
    .tutorial-frame{
        width: auto;
        border-width: 8px;
    }

    iframe{
        height: 300px;
        width: 250px;
    }
    footer h2{
        font-size: 1rem;
    }
}
/* Telemovel */
@media screen and (max-width: 599px){
    
    .menu {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
            "Header"
            "SinglePlayer"
            "MultiPlayer"
            "Tabelas"
            "Termos"
            "Tutorial"
            "Footer";
        overflow: auto;
    }
    
    .tutorial{
        width: 300px;
        height: 200px;
    
    }
    
    .tutorial-frame{
        width: auto;
        border-width: 15px;
        border-style: solid;
        border-image: url("/Media/Frame.png") 75 repeat; 
        overflow: hidden;
    }
    iframe{
        height: 300px;
        width: 250px;
    }
    
    .footer-display{
        position: relative;
    }
    footer h2{
        font-size: 1rem;       
    }

    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }

    #button3 {
        padding-left: 43px;
        padding-right: 43px;
    }
    #button2 {
        padding-left: 23px;
        padding-right: 23px;
    }
    #Voltar{
        font-size: small;
        padding: 10px;

    }

}


