
/* Posicionamento naa pagina menu*/
.menu{
    display: grid;
    grid-template-columns: auto 40% auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "Header Header Header"
    "Tutorial SinglePlayer Termos"
    "Tutorial MultiPlayer Termos"
    "Tutorial Tabelas  Termos"
    "Tutorial Informacoes Termos"
    "Footer Footer Footer"
    ;
    text-align: center;
    position: relative;
}
h1{
    font-size: 3rem;
}
header{
    grid-area: Header;
}

#SinglePlayer{
    grid-area: SinglePlayer;

}

#MultiPlayer{
    grid-area: MultiPlayer;
}

#Tabelas{
    grid-area: Tabelas;
}

#Informacoes{
    grid-area: Informacoes;
}

#Tutorial{
    grid-area: Tutorial;
}

#Termos{
    grid-area: Termos;
    position: relative;
}
footer{
    grid-area: Footer;
}
/* Termos e Condicoes */

.inPage {
    width: 40%;
    margin: 0 auto; 
    padding: 20px; 
    border: 2px solid #000000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: skyblue;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}



/* Butões*/
.ndButton {
    margin: 10px auto;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 70, 248);
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.ndButton:hover {
    background-color: rgb(98, 176, 228);
    color: white;
}


#button1 {
    padding-left: 20px;
    padding-right: 20px;
}


#button2 {
    padding-left: 27px;
    padding-right: 27px;
}

#button3 {
    padding-left: 54px;
    padding-right: 54px;
}

#button4 {
    padding-left: 27px;
    padding-right: 27px;
}

.top-left-button {
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #00ff0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* diferentes tamanhos de paginas web */
@media screen and (max-width:599px){

    h1{
        font-size: 1rem;
    }

    .ndButton {
        margin: 10px auto;
        color: rgb(255, 255, 255);
        background-color: rgb(50, 70, 248);
        font-size: 7px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s ease;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .ndButton:hover {
        background-color: rgb(98, 176, 228);
        color: white;
    }


#button1 {
    padding-left: 15px;
    padding-right: 15px;
}


#button2 {
    padding-left: 20px;
    padding-right: 20px;
}

#button3 {
    padding-left: 35px;
    padding-right: 35px;
}

#button4 {
    padding-left: 15px;
    padding-right: 15px;
}
}