body{
    text-align: center;
    background-size: auto;

}

h2{
    color: white;
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}

/* Grid */
.players {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "Blastoise title Charizard" 
        "Blastoise twoPlayers Charizard"
        "Blastoise threePlayers Charizard"
        "Blastoise fourPlayers Charizard";
        overflow: auto;
        text-align: center;
        position: relative;
        align-items: center;
        top: 57px; 
}


#twoPlayers{
    grid-area: twoPlayers;
}

#threePlayers{
    grid-area: threePlayers;
}

#fourPlayers{
    grid-area: fourPlayers;
}

#title{
    grid-area: title
}

/* bookmarks */
.left-bookmark {
    background-image: url("/Media/Blastoise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 10%;
    left: 0;
    width: 31%;
    height: 100vh;
    background-color: aqua;
    border: 5px solid #333;
    border-radius: 0 10px 10px 0;
}

.right-bookmark {
    background-image: url("/Media/Charizard.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 10%;
    right: 0;
    width: 31%;
    height: 100vh;
    background-color: red;
    border: 5px solid #333;
    border-radius: 10px 0 0 10px;
    
}






/*Botões players */

.ndButton {
    margin: 10px auto;
    color: #ceab43;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 
        -1px -1px 0 #000000,  
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;

}

.ndButton:hover {
    background-color: rgb(0, 0, 0, 0.1);
    color: #ceab43;
}

#button4{
    padding-left: 50px;
    padding-right: 50px;
}

#button4:hover{
    background-image: url(/Media/2players.gif);
    background-position: left;
}

#button5{
    padding-left: 50px;
    padding-right: 50px;
}

#button5:hover{
    background-image: url(/Media/3players.gif);
    background-position: left;
}

#button6{
    padding-left: 50px;
    padding-right: 50px;
}

#button6:hover{
    background-image: url(/Media/4players.gif);
    background-position: center;
}

 
