
    /*================================================================*/
    /*Grid para os butões da página"SinglePlayer"*/
    

    
/*================================================================*/
/* Grid com o tabuleiro de jogo */

.board{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;
    max-width: 800px;
    gap: 15px;
    margin:70px auto;

    }

    .cartinha{
    width: 100%;
    height: 200px; 
    background-color: black; 
    position: relative;
    }

    .face{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .front{
        
        background-image: url(../Media/backcard.jpeg);
        background-size: cover;
        background-position: center;
    }

    .back{
        background-image: url(../Media/backcard.jpeg);
    }
    
    /*================================================================*/
    /* Footer*/
    
    .footer-display {
        display: grid;
        grid-template-columns: 1fr auto; 
        min-height: 100vh; 
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .vertical-footer { 
        grid-column: 2; 
        background-color: aqua;
        color: white;
        font-size: 20px;
        padding: 20px;
        height: 100%;
        width: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 10px 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    
    
    
    
    /*================================================================*/
    /* Grid para o nome dos jogadores */
    
    .grid_players{
        display: grid;
       
        grid-template-areas:
         "player1 player2"
         "player3 player4"
         ;
        margin: auto auto ;
    }
    
    #player1{
        grid-area: player1;
    }
    
    #player2{
        grid-area: player2;
    }
    
    #player3{
        grid-area: player3;
    }
    
    #player4{
        grid-area: player4;
    }




/*================================================================*/
/* Grid para o nome dos jogadores */

.grid_players{
    display: grid;
   
    grid-template-areas:
     "player1 player2"
     "player3 player4"
     ;
    margin: auto auto ;
}

#player1{
    grid-area: player1;
}

#player2{
    grid-area: player2;
}

#player3{
    grid-area: player3;
}

#player4{
    grid-area: player4;
}






/*================================================================*/
/* barra preta */

#barra{
    margin:0;
    height:100px; 
    width: 200%;
    position:fixed;
    z-index:1;
    top: 0;
    left: 0;
    padding-left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-bottom: 60px;
}

    
    #TituloTempo{
        grid-area: TituloTempo;
    
    }
    
    #Tempo{
        grid-area: Tempo;
        padding-left: 10px;
        
    
    }
    
    #TituloTabuleiro{
        grid-area: TituloTabuleiro;
        padding-right: 30px;
    }
    
    #Tabuleiro{
        grid-area: Tabuleiro;
    
    }
    
    #StartButton{
        grid-area: StartButton;
    }
    
    @media screen and (max-width:599px){
        .singleplayer{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 30% auto auto auto;
            grid-template-areas: 
            "Header Header"
            "TituloTabuleiro Tabuleiro"
            "TituloTempo Tempo"
            "StartButton StartButton" 
            ;
        
            align-items: center;
            padding: 42px;
        }
    }
    
    
    
    /*================================================================*/
    /* Grid com o tabuleiro de jogo */

  
        .board{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            width: 80%;
            max-width: 800px;
            gap: 5px;
            margin:70px auto;
            overflow-y: hidden; 
            position:fixed;
        
            }
    
            .cartinha{
            width: 100px;
            height: 200px; 
            background-color: black; 
            position: relative;
            }
    
            .face{
                width: 100%;
                height: 100%;
                position: absolute;
            }
            .front{
                
                background-image: url(../Media/backcard.jpeg);
                background-size: cover;
                background-position: center;
            }
    
            .back{
                background-image: url(../Media/backcard.jpeg);
            }
  
    /*================================================================*/
    /* Footer*/
    
    .footer-display {
        display: grid;
        grid-template-columns: 1fr auto; 
        min-height: 100vh; 
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .vertical-footer { 
        grid-column: 2; 
        background-color: aqua;
        color: white;
        font-size: 20px;
        padding: 20px;
        height: 100%;
        width: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 10px 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    
    
    
    
    /*================================================================*/
    /* Grid para o nome dos jogadores */
    
    .grid_players{
        display: grid;
       
        grid-template-areas:
         "player1 player2"
         "player3 player4"
         ;
        margin: auto auto ;
    }
    
    #player1{
        grid-area: player1;
    }
    
    #player2{
        grid-area: player2;
    }
    
    #player3{
        grid-area: player3;
    }
    
    #player4{
        grid-area: player4;
    }
    


    
    /*================================================================*/
    /* leaderboard */
    /* leaderboard */
    .wrapper{
        width: 100%;
        height: 100%;
    }
    
    .lboard_section{
        font-family: Arial, Helvetica, sans-serif;
        width: 500px;
        height: 400px;
        margin: 10px auto 0;
        background: #f94f62;
        padding: 25px 40px;
        position: relative;
        border-radius: 5px;
    }
    
    .lboard_section .lboard_tabs ul{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
    }
    
    .lboard_section .lboard_tabs ul li{
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 50px;
        font-size: 18px;
        font-weight: 600;
        color: #3a3d51;
        cursor: pointer;
    }
    
    .lboard_section .lboard_tabs ul li:hover,
    .lboard_section .lboard_tabs ul li.active{
        color: #fff;
    }
    
    .lboard_wrap{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 70px;
        left: 40px;
        background: #ffd300;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    .lboard_wrap .lboard_item{
        font-family: Arial, Helvetica, sans-serif;
        padding: 25px;
    }
    
    .lboard_wrap .lboard_mem{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #ffe773;
    }
    
    .lboard_wrap .lboard_mem:first-child{
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 0;
    }
    
    .lboard_wrap .lboard_mem:last-child{
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0;
        border-bottom: 0;
    }
    
    .lboard_wrap .lboard_mem .img{
        font-family: Arial, Helvetica, sans-serif;
        width: 50px;
    }
    
    .lboard_wrap .lboard_mem img{
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        width: 100%;
    }
    
    .lboard_wrap .lboard_mem .name_bar{
        font-family: Arial, Helvetica, sans-serif;        
        margin: 0 20px;
        width: calc(100% - 150px);
    }
    
    .lboard_wrap .lboard_mem .name_bar p{
        font-family: Arial, Helvetica, sans-serif;
        color: #3a3d51;
    }
    
    .lboard_wrap .lboard_mem .name_bar p span{
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
    }
    
    .lboard_wrap .lboard_mem .points{
        font-family: Arial, Helvetica, sans-serif;
        width: 100px;
        color: #3a3d51;
    }
    
    .lboard_wrap .lboard_mem .name_bar .bar_wrap{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 5px;
        background: #d5b000;
        margin-top: 5px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }
    
     
    .lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        background: #fff;
        border-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


    .grid_leaderboard{
        display: grid;
       
        grid-template-areas:
         "leader1 leader2"; 

        grid-template-columns: 1300px 10%;
      
    }