/*Grid para os botoes na pagina do Menu*/
.menu{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "Header"
    "SinglePlayer"
    "MultiPlayer"
    "Tabelas"
    "Informacoes"
    ;
}
h1{
    font-size: 3rem;
}
header{
    grid-area: Header;
}

#SinglePlayer{
    grid-area: SinglePlayer;

}

#MultiPlayer{
    grid-area: MultiPlayer;
}

#Tabelas{
    grid-area: Tabelas;
}

#Informacoes{
    grid-area: Informacoes;
}
@media screen and (max-width:599px){
    .menu{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        "Header"
        "SinglePlayer"
        "MultiPlayer"
        "Tabelas"
        "Informacoes"
        ;
    }
    h1{
        font-size: 2rem;
    }
    header{
        grid-area: Header;
    }
    
    #SinglePlayer{
        grid-area: SinglePlayer;
    }
    
    #MultiPlayer{
        grid-area: MultiPlayer;
    }
    
    #Tabelas{
        grid-area: Tabelas;
    }
    
    #Informacoes{
        grid-area: Informacoes;
    }


}


/*================================================================*/
/*Grid feita para a pagina "sobre nós"*/

.grid-img-info{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto ;
    grid-template-areas: 
    "Img Info-Gonçalo"
    "Img Info-Dinis"
    "Img Info-Ricardo";

    grid-gap: 20px;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}
           


#Img{
    grid-area: Img;
    max-width: 75%;
    height: auto;
    display: block;
}

#Info-Gonçalo{
    grid-area: Info-Gonçalo;
}

#Info-Dinis{
    grid-area: Info-Dinis;
}

#Info-Ricardo{
    grid-area: Info-Ricardo;
}

.info h2 {
    color: lightblue;
    padding: 10px;
}

@media screen and(min-width:600px){
    .grid-img-info{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto ;
        grid-template-areas: 
        "Img Info-Gonçalo"
        "Img Info-Dinis"
        "Img Info-Ricardo";
    
        grid-gap: 20px;
        align-items: center;
        font-family: Arial, sans-serif;
        padding: 20px;
        box-sizing: border-box;
    }
    
    #Img{
        grid-area: Img;
        max-width: 20%;
        height: auto;
        display: block;
    }
    
    #Info-Gonçalo{
        grid-area: Info-Gonçalo;
    }
    
    #Info-Dinis{
        grid-area: Info-Dinis;
    }
    
    #Info-Ricardo{
        grid-area: Info-Ricardo;
    }
    
    .info h2 {
        color: lightblue;
        padding: 10px;
    }
}


/*================================================================*/
/*Grid para os butões da página"SinglePlayer"*/



.singleplayer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% auto auto auto;
    grid-template-areas: 
    "Header Header"
    "TituloTabuleiro Tabuleiro"
    "TituloTempo Tempo"
    "StartButton StartButton" 
    ;
    align-items: center;
    padding: 50px;
}

    
Header{
    grid-area: Header;
    padding-bottom: 10px;

}


#TituloTempo{
    grid-area: TituloTempo;

}

#Tempo{
    grid-area: Tempo;
    padding-left: 10px;
    

}

#TituloTabuleiro{
    grid-area: TituloTabuleiro;
    padding-right: 30px;
}

#Tabuleiro{
    grid-area: Tabuleiro;

}

#StartButton{
    grid-area: StartButton;
}

@media screen and (max-width:599px){
    .singleplayer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% auto auto auto;
        grid-template-areas: 
        "Header Header"
        "TituloTabuleiro Tabuleiro"
        "TituloTempo Tempo"
        "StartButton StartButton" 
        ;
    
        align-items: center;
        padding: 42px;
    }
}



/*================================================================*/
/* Grid com o tabuleiro de jogo */

    
.board {
    display: grid;
    padding-top: 10vh;
    gap: 20px;
    /* height: 100vh;
    width: 90vw;
    max-width:  700px; */
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10    px;
        
}


.board img {

    /* isto está bem mas depois vê */


    /* justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
    border-color: aqua;
    
    height: 100%; 
    background-size: cover;
    background-position: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); sombreado na carta */
    /* background-image: url("Media/backcard.jpeg"); */
    width: 50%;
  
}
.cartinha{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;

}

/*================================================================*/
/* Grid para o nome dos jogad */
.grid_players{
    display: grid;
   
    grid-template-areas:
     "player1 player2"
     "player3 player4"
     ;
    margin: auto auto ;
}

#player1{
    grid-area: player1;
}

#player2{
    grid-area: player2;
}

#player3{
    grid-area: player3;
}

#player4{
    grid-area: player4;
}






/*================================================================*/
/* barra preta */

#barra{
    margin:0;
    height:100px; 
    width: 200%;
    position:fixed;
    z-index:1;
    top: 0;
    left: 0;
    padding-left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-bottom: 60px;
    
}
