/* ITW 2023/24 nº30 Dinis Garcia nº62269 Gonçalo Seguro nº62252 Ricardo Avelãs nº62257, TP26 */
body{
    font-size: 1rem;
    color:#F6CF57 
}

h1{
    color: white;
}
strong{
    color: rgb(201, 23, 23);
}